In [34]:
import pandas
import pylab
import matplotlib
from pandas import *
from pylab import *
from matplotlib import *

In [2]:
names=read_csv('data/baby-names.csv')

In [3]:
names.head(5)

   year     name   percent  sex
0  1880     John  0.081541  boy
1  1880  William  0.080511  boy
2  1880    James  0.050057  boy
3  1880  Charles  0.045167  boy
4  1880   George  0.043292  boy

In [4]:
names.tail()

        year      name   percent   sex
257995  2008  Carleigh  0.000128  girl
257996  2008     Iyana  0.000128  girl
257997  2008    Kenley  0.000127  girl
257998  2008    Sloane  0.000127  girl
257999  2008   Elianna  0.000127  girl

In [14]:
#names.loc[2:9, ['year', 'percent']]
girl_names=names[names['sex']=="girl"]
boy_names=names[names['sex']=="boy"]

In [15]:
boy_names.head(5)

   year     name   percent  sex
0  1880     John  0.081541  boy
1  1880  William  0.080511  boy
2  1880    James  0.050057  boy
3  1880  Charles  0.045167  boy
4  1880   George  0.043292  boy

In [16]:
#Create dataset with only John Records
john=boy_names[boy_names['name']=="John"]

In [17]:
john.head(5)

      year  name   percent  sex
0     1880  John  0.081541  boy
1000  1881  John  0.080975  boy
2000  1882  John  0.078314  boy
3000  1883  John  0.079066  boy
4000  1884  John  0.076476  boy

In [22]:
john=boy_names[boy_names['name']=="John"]

In [23]:
john.head(5)

      year  name   percent  sex
0     1880  John  0.081541  boy
1000  1881  John  0.080975  boy
2000  1882  John  0.078314  boy
3000  1883  John  0.079066  boy
4000  1884  John  0.076476  boy

In [24]:
john=john.loc[2:,['year', 'percent']]

KeyError: 'start bound [2] is not the [index]'

In [25]:
john.head(5)

      year  name   percent  sex
0     1880  John  0.081541  boy
1000  1881  John  0.080975  boy
2000  1882  John  0.078314  boy
3000  1883  John  0.079066  boy
4000  1884  John  0.076476  boy

In [26]:
john=john.loc[:, ['year', 'percent']]

In [27]:
john.head(5)

      year   percent
0     1880  0.081541
1000  1881  0.080975
2000  1882  0.078314
3000  1883  0.079066
4000  1884  0.076476

In [28]:
john.set_index(['year'])

       percent
year
1880  0.081541
1881  0.080975
1882  0.078314
1883  0.079066
1884  0.076476
1885  0.075517
1886  0.075820
1887  0.074181
1888  0.071186
1889  0.071804
1890  0.071034
1891  0.070292
1892  0.068759
1893  0.066495
1894  0.065961
1895  0.065699
1896  0.063051
1897  0.061907
1898  0.061770
1899  0.060674
1900  0.060619
1901  0.059677
1902  0.059568
1903  0.058833
1904  0.058535
1905  0.056266
1906  0.057359
1907  0.056635
1908  0.056150
1909  0.054234
...        ...
1979  0.019786
1980  0.019018
1981  0.018739
1982  0.018389
1983  0.017808
1984  0.017383
1985  0.016375
1986  0.015721
1987  0.015158
1988  0.014691
1989  0.014238
1990  0.013518
1991  0.013113
1992  0.012498
1993  0.012097
1994  0.011865
1995  0.011545
1996  0.011057
1997  0.010703
1998  0.010164
1999  0.009975
2000  0.009617
2001  0.009132
2002  0.008443
2003  0.008196
2004  0.007785
2005  0.007416
2006  0.006918
2007  0.006517
2008  0.006102

[129 rows x 1 columns]

In [30]:
john.plot(color='red')

In [31]:
john.head(5)

      year   percent
0     1880  0.081541
1000  1881  0.080975
2000  1882  0.078314
3000  1883  0.079066
4000  1884  0.076476

In [37]:
john.head(5)

      year   percent
0     1880  0.081541
1000  1881  0.080975
2000  1882  0.078314
3000  1883  0.079066
4000  1884  0.076476

In [38]:
mary=girl_names.loc[:, ['year', 'percent']]

In [40]:
mary=girl_names[girl_names['name']=='Mary']

In [43]:
mary=mary.loc[:, ['year', 'percent']]

In [44]:
mary.head(5)

        year   percent
129000  1880  0.072381
130000  1881  0.069986
131000  1882  0.070431
132000  1883  0.066737
133000  1884  0.066990

In [45]:
mary=mary.set_index(['year'])

In [46]:
mary.head(5)

       percent
year
1880  0.072381
1881  0.069986
1882  0.070431
1883  0.066737
1884  0.066990

In [49]:
mary.plot(color='Green')

In [51]:
mary.plot(color='Green')

In [50]:
DataFrame.plot(mary)